.container {
    border: solid 1px #fff;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    width: 100%;
    @media screen and (min-width: 768px) {
        width: calc(50% - 10px);
    }
    @media screen and (min-width: 991px) {
        width: calc(33% - 10px);
    }
}

.base {
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
}

.price {
    color: rgb(248, 236, 73);
    width: 100%;
}

.sub-container {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.sub-title {
    color: #fff;
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
}

.volume {
    color: #fff;
    width: 100%;
}

.change {
    width: 100%;

    &.positive {
        color: rgb(34, 151, 34);
    }

    &.negative {
        color: rgb(192, 54, 54);
    }
}
